/* header {
    background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%);
    height: 100px;
    display: flex;
    align-items: flex-end;
} */

main {
    display: block;
    flex-wrap: wrap;
}

header{
    background-color: rgb(86, 226, 222);
    
}

.card {
    background-color: bisque;
    height: 200px;
    text-align: center;
    justify-content: center;
    
}

.list{
    background-color: rgb(242, 201, 150);
}

.fiveday{
    justify-content: space-between;
}